*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 450px;
    height: 550px;
    border: solid;
    display: flex;
    flex-direction: column;
}

.display, .display > div {
    border: solid;
    height: 30%;
    margin: 10px 10px 5px 10px;
}

#lower {
    height: 75px;
}

.buttons {
    border: solid;
    height: 70%;
    margin: 5px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#zero {
    grid-column: span 2;
}

#ac {
    grid-column: span 2;
}

.button {
    border: solid;
    margin: 2px;
}