*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Noto Sans Math';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 450px;
    height: 550px;
    border: solid;
    display: flex;
    flex-direction: column;
    background-color: #313233;
}

.display > div {
    border: solid;
    margin: 10px 10px 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #e2e3e3;
}

#upper {
    height: 43px;
    font-size: 22px;
}

#lower {
    height: 75px;
    font-size: 32px;
}

.buttons {
    height: 70%;
    margin: 5px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button {
    border: solid;
    border-color: black;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e3e3;
    font-size: 26px;
}

.operator, #eq {
    background-color: #0558ab;
    color: #ebf5fe;
}

#ac {
    grid-column: span 2;
}

#del, #ac {
    background-color: #ab0558;
    color: #feebf5;
}